<form action="/add" method="POST">
<label>Title</label>
<input required placeholder="Last Christmas" name="title"></input>
<label>Body</label>
<textarea required placeholder="we went to the zoo" name="body"></textarea>
<button type="submit" value="add">Submit</button>
</form>