<div class="dashMainContainer">

    <div class="postHeader">
        <h2>Posts</h2>
        <button onclick="location.href='/create'">New Post</button>
    </div>
    <div class="postList">
        <ul>
            <% data.forEach(element => {%>
                <li class="linkRow">

                        <a class="postTitle" href="/admin-post/<%= element.id %>"><%= element.title %></a>
                        <span class="postDate"><%= element.createdAt.toDateString() %></span>
                        <form action="/delete/<%= element.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="deletePost">Delete</button>
                        </form>


                </li>
                <hr>
            <%}); %>
        </ul>
    </div>
</div>