<div>
    <form action="/edit-post/<%= data.id%>?_method=PUT" method="post">
        <% console.log(data.id); %>

    <h3>Title</h3>
    <textarea name="title"><%= data.title %></textarea>
    <h3>Body</h3>
    <textarea name="body"><%= data.body %></textarea>
    <button type="submit" value="update">Save</button>
</form>
</div>
