<div class="createMainContainer">
    <form action="/edit-post/<%= data.id%>?_method=PUT" method="post">
        <% console.log(data.id); %>

        <label>Title</label>
        <textarea required class="titleArea" name="title"><%= data.title %></textarea>
        <label>Body</label>
        <textarea required class="bodyArea" name="body"><%= data.body %></textarea>
        <button type="submit" value="update">Save</button>
    </form>
</div>
