<div class="signIn">
  <h3>Sign In</h3>


  <form action="/login" method="POST">
  <div class="inputData">
  <label for="username" ><b>Username</b></label>
  <input type="text" placeholder="Ali" name="username" required>
</div>
<div class="inputData">
  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="#fGT83" name="password" required>
</div>

  <button type="submit">Login</button>

</form>
</div>

 <!-- <h3>Register</h3>
<form action="/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form>  -->
