<link rel="script" href="/js/script.js">
<header class="adminHeader">
    <a  class="adminHome">Admin Portal</a>
    <nav class="adminHeaderNav">
        <ul>
            <li><a href="/dashboard">Home</a></li>

        </ul>
    </nav>
    <div class="logoutButton">
        <form action="/logout" method="get" >
            <button type="submit" >Log out</button>
        </form>
    </div>
</header>
