<link rel="script" href="/js/script.js">
<header class="header">
    <a href="/" class="headerLogo">Admin Portal</a>
    <nav class="headerNav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="headerButton">
        <form action="/logout" method="get" >
            <button type="submit" >Log out</button>
        </form>
    </div>
</header>
