<div class="searchBar" id="searchBar">
    <div class="searchBarContainer">
        <form action="/search" method="post" class="searchForm" role="search">
            <input type="search" aria-label="search" id="searchInput" name="searchTerm">
        </form>
    </div>
    <button type="submit" id="searchButton" class="searchBarButton">Search</button>
      <button id="closeSearch" class="searchBarButton">Close</button>
</div>