<div class="searchBar" id="searchBar">
    <div class="searchBarContainer">
        <form action="/search" method="post" class="searchForm" role="search" >
            <input type="search" aria-label="search" id="searchInput" name="searchTerm" required>
            <button type="submit" id="searchButton" class="searchButton">Search</button>
        </form>
        <button id="closeSearch" class="closeSearchButton">Close</button>
    </div>


</div>