<div class="aboutMainContainer">
    <div class="aboutHeader">
        <!-- <h3>Wanda Maximoff</h3> -->
        <img src="/img/scarletwitch.gif" alt="Scarlet witch holding the darkhold">
        
    </div>
    <div class="aboutBody">
        <p>
            Wanda Maximoff is a native of Sokovia who grew up with her fraternal twin brother, Pietro. Born with the latent mythical ability to harness Chaos Magic, she developed a hatred against Tony Stark and rallied anti-American protests after the Novi Grad Bombings killed her parents.
            Years later, in an effort to help purge their country of strife, the twins joined HYDRA and agreed to undergo experiments with the Scepter under the supervision of Baron Strucker, with the Mind Stone awakening and amplifying Wanda's powers.
            While her brother developed super-speed, she attained various psionic abilities. When HYDRA fell, the twins joined Ultron to get their revenge on Stark, but abandoned him when they discovered his true intentions to eradicate humanity.
            Wanda and Pietro joined the Avengers during the Battle of Sokovia to stop Ultron; Pietro was killed during the battle but Wanda survived, and shortly after relocated to the Avengers Compound in the United States of America.
        </p>
    </div>
</div>