<div class="homeMainContainer">
    <!-- <div class="introContainer">
            <div class="wanda">
                <h1>Wanda Maximoff</h1>
                <p><small>aka</small> The Scarlet Witch, a Nexus Being and Ruler of Worlds</p>
            </div> 
         <div class="quote">
            <img src="/img/wandavision-scarlet-witch.gif" alt="the scarlet witch glowing red" class="wandaGif" >
            <p>"I can't control their fear, only my own."</p>
        </div>

    </div> -->
    <section class="postsContainer">
        <div class="postHeader">
            <h2 >Latest Posts</h2>
        </div>
        <div class="postList">
            <ul >
                <% data.forEach( element => { %>
                        <li class="linkRow">
                            <a class="postTitle" href="/post/<%= element.id %>"><%= element.title %></a>
                            <span class="postDate"><%= element.createdAt.toDateString() %></span>
                        </li>
                    <hr>
                <% }) %>
            </ul>
        </div>
        <% if(nextPage !== null){%>
            <a href="/?page=<% nextPage %>" class="pagination"> &lt;Next Page</a>
        <% } %>
        
        
    </section>
</div>