<div class="wanda">
    <h1>Wanda Maximoff</h1>
    <p><small>aka</small> The Scarlet Witch, a Nexus Being and Ruler of Worlds</p>
</div> 

<img src="/img/wandavision-scarlet-witch.gif" alt="the scarlet witch glowing red" class="wandaGif" width="581" height="328" >
<div class="quote">
    <p>"I can't control their fear, only my own."</p>
</div>
<section class="posts">
    <h2 class="postHeader">Latest Posts</h2>
    <ul class="postList">
        <li>

        </li>
    </ul>

</section>