<div class="wanda">
    <h1>Wanda Maximoff</h1>
    <p><small>aka</small> The Scarlet Witch, a Nexus Being and Ruler of Worlds</p>
</div> 

<img src="/img/wandavision-scarlet-witch.gif" alt="the scarlet witch glowing red" class="wandaGif" width="581" height="328" >
<div class="quote">
    <p>"I can't control their fear, only my own."</p>
</div>
<section class="posts">
    <h2 class="postHeader">Latest Posts</h2>
    <ul class="postList">

        
        <% data.forEach( element => { %>
            <% console.log(element.id) %>
                <li>
            <a class="postLink" href="/post/<%= element.id %>">
                <span class="postTitle"><%= element.title %></span>
                <span class="postDate"><%= element.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if(nextPage !== null){%>
        <a href="/?page=<% nextPage %>" class="pagination"> &lt;Next Page</a>
    <% } %>
     
    
</section>