<div class="postMainContainer">
    <div class="postMainHeader">
        <h1><%= data.title %></h1>   
    </div>
    <p class="postCreationDate"><%=data.createdAt.toDateString()  %></p>
    <p class="postContent"><%= data.body %></p  >
</div>