<div class="searchMainContainer">
    <div>
        <h1>Results</h1>
    </div>
    <section class="postList">
        <% data.forEach(element=>{ %>
            <ul>
                <li class="linkRow">
                    <a class="postTitle" href="/post/<%= element.id %>"><%= element.title %></a>
                    <span class="postDate"><%= element.createdAt.toDateString() %></span>
        
                </li>
                <hr>
            </ul>
        <% }) %>
    </section>
</div>