@import url(@fontsource/poppins);
body{
 background-color: #f2f2f2;
 margin: 0;
 display: flex;
 flex-direction: column;
 font-family: "Poppins";

}
.container{
    height: 100%;
}

.header{
    display: grid;
    align-items: center;
    padding-top:10px ;
    grid-template-rows:auto;
    grid-template-areas: 
    "logo button"
    "menu menu";
}
.header a{
    text-decoration: none;
    color: inherit;
}
.header a:visited, .header a:link{
color: inherit;
}
.headerLogo{
    font-weight: 800;
    font-size: 25px;
    grid-area: logo;
}
.headerLogo:hover{
    text-decoration: underline;
    color: red !important;
}
.headerNav{
    justify-content: center;
    display: flex;
    grid-area: menu;
}
.headerNav ul{
    list-style-type:none ;
    display: flex;
    gap: 2rem;
    font-weight: 600;
    padding: 0;
}

.headerButton{
    display: flex;
    justify-content: flex-end;
    grid-area: button;
}
.headerButton button{
    display: flex;
    background: none;
    border: none;
    align-items: center;
    font-weight: 500;
    
}

.headerButton,.headerLogo,.headerNav{
    width: 100%;
}
/* Layout Style */
.container{
    max-width: 982px;
    margin: 0 auto;
    padding:0 10px;


}
.main{
    padding: 20px 0;
    margin: 0 auto;
    align-items: center;
}
/*The main index page*/
.wandaGif{
    border-radius: 15px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    margin-left: 15px;
   
}
.posts, .wanda{
    text-align: center;
}
.postHeader{
    margin-top: 10px;
    margin-bottom: 5px;
}

/*post Body*/
.postList{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}
.postLink{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.postLink:hover{
    color: rgb(18, 65, 74);
}
.postDate{
    font-size: 12px;
    color: #9E9E9E;
    display: inline-block;
    width: 260px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}
.postTitle{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;


}
.pagination{
    font-size: 16px;
    color: #9E9E9E;
    display: inline-block;
    width: 260px;
    text-align: left;
    text-decoration: none;
    margin-left: -300px;
}
.pagination:hover{
    color: rgb(184, 35, 48);
}


/*Search Bar*/
.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    /*visibility: hidden;*/
    margin-top: 10px;
    background-color: #f2f2f2;
  
}
.searchBar input{
    width: 400px;
    border-radius: 10px;
    border: black 1px solid;
    height: 25px;
}
#openSearchButton:hover{
    cursor: pointer;
}
.searchBarButton{

    border-radius: 10px;
    border: black 1px solid;
}
.searchBarButton:hover{
    cursor: pointer;
    color: #f2f2f2;
    background-color: black;
}

/*Admin Portal*/
#logoutButton{
    font-weight: 800;
    font-size: 25px;
}
